{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-airbnb",
    "eslint-config-airbnb-typescript"
  ],
  "rules": {
    "semi": ["error", "never"],
    "no-console": "off"
  }
}